#dateDetailSetting {
  .dateDetailSetting__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    border: 1px solid #b9b9b9;
    padding: 10px;
    border-radius: 6px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        &:first-child {
          font-size: 0.7rem;
        }

        &:last-child {
          font-size: 0.8rem;
        }
      }

      input {
        font-size: 1rem;
      }
    }
  }
}