.worldItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 5px;

  p {
    &:first-child {
      font-size: 1.1rem;
      color: black;
    }

    &:last-child {
      font-size: 0.7rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
}

#createSchedule {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#linkSiteBtn {
  width: 40%;
  padding: 7px;
  border-radius: 6px;
  font-weight: 900;
  text-align: center;
  background-color: #ededed;
  color:cornflowerblue;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: cornflowerblue;
    color: white;

    .icon svg{
      color: white;
    }
  }
}

.btn {
  min-width: 150px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#dateDetailSetting {
  .dateDetailSetting__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  button {
    width: 100%;
    @include flex-center;
    padding: 12px;
    color: white;
    background-color: #000;
    border-radius: 6px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
  }
}