#step1 {
  height: 100%;
  padding: 10px;

  .step__top {
    height: 20%;
    h1 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 20px;
    }

    .step__info {
      margin-top: 10px;

      input {
        font-weight: bold;
      }

      div {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .step__bottom {
    height: 75%;
    .step__bottom__desc {
      font-size: 0.9rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;

      span {
        &:nth-child(2) {
          color: rgb(16, 117, 233);
        }
      }

      .open {
        transform: rotateX(180deg);
        transition: transform 0.3s;
      }
    }

    div {
      div {
        .dateManual {
          font-size: 0.8rem;
          color: #b9b9b9;
          strong {
            font-size: 0.85rem;
            font-weight: bold;
            color: #828282;
          }
        }

        .time__container {
          max-height: 300px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 10px 0;
          overflow-y: auto;
          -ms-overflow-style:none;
          &::-webkit-scrollbar{
            display:none;
          }
        }
      }
    }
  }
}

#step2 {
  .step2__inner {
    h1 {
      font-weight: bold;
      font-size: 2rem;
    }
    padding: 10px;

    .step2__info {
      margin-top: 10px;
      font-weight: bold;
    }

    .step2__theme {
      margin-top: 10px;

      h3 {
        font-weight: bold;
      }

      .step2__theme__item {
        margin-top: 20px;
        height: 200px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px;
          gap: 25px;

          li {
            width: 55px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            div {
              width: 55px;
              overflow: hidden;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}