#step1 {
  padding: 10px;

  .step__top {
    h1 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 20px;
    }

    .step__info {
      margin-top: 10px;

      input {
        font-weight: bold;
      }

      div {
        margin-top: 15px;
        height: 40px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .step__bottom {
    .step__bottom__desc {
      font-size: 0.9rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;

      span {
        &:nth-child(2) {
          color: rgb(16, 117, 233);
        }
      }

      .open {
        transform: rotateX(180deg);
        transition: transform 0.3s;
      }
    }

    .dateManual {
      font-size: 0.8rem;
      color: #b9b9b9;
      strong {
        font-size: 0.85rem;
        font-weight: bold;
        color: #828282;
      }
    }

    .time__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 10px 0;
    }

    button {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      color: #fff;
      background-color: #000;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#step2 {
  .step2__top {
    ul {
      display: flex;

      li {
        text-align: center;
        flex: 1;
        padding: 13px;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        position: relative;
      }

      .active {
        color: rgb(0, 55, 255);

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border: 1px solid blue;
        }
      }
    }
  }
}