#step1 {
  height: 100%;
  padding: 10px;

  .step__top {
    height: 20%;
    h1 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 20px;
    }

    .step__info {
      margin-top: 10px;

      input {
        font-weight: bold;
      }

      div {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .top {
    height: 13% !important;
  }

  .alltop {
    height: 8% !important;
  }

  .step__bottom {
    height: 75%;
    .step__bottom__desc {
      font-size: 0.9rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;

      span {
        &:nth-child(2) {
          color: rgb(16, 117, 233);
        }
      }

      .open {
        transform: rotateX(180deg);
        transition: transform 0.3s;
      }
    }

    div {
      div {
        .dateManual {
          font-size: 0.8rem;
          color: #b9b9b9;
          strong {
            font-size: 0.85rem;
            font-weight: bold;
            color: #828282;
          }
        }

        .time__container {
          max-height: 300px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 10px 0;
          overflow-y: auto;
          -ms-overflow-style:none;
          &::-webkit-scrollbar{
            display:none;
          }
        }
      }
    }
  }

  .allroute {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style:none;
    &::-webkit-scrollbar{
      display:none;
    }
  }
}

#step2 {
  .step2__inner {
    h1 {
      font-weight: bold;
      font-size: 2rem;
    }
    padding: 10px;

    .step2__info {
      margin-top: 10px;
      font-weight: bold;
    }

    .step2__theme {
      margin-top: 10px;

      h3 {
        font-weight: bold;
      }

      .step2__theme__item {
        margin-top: 20px;
        height: 200px;
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 25px;
          padding: 2px 0;

          li {
            padding: 3px 0;
            width: 60px;
            text-align: center;
            font-weight: bold;
            overflow: hidden;
            cursor: pointer;
            div {
              width: 55px;
              margin: 0 auto;
            }

            &.selected {
              height: 79px;
              border: 1px solid blue;  // 선택된 항목을 강조하는 스타일
              background-color: lightblue;  // 배경색 변경
            }
          }
        }
      }
      .step2__add__theme {
        font-weight: bold;
        text-align: end;
        color: rgb(18, 62, 236);
        padding-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}