#travelinfo {
  font-size: 16px;
  width: 60px;
  .travelinfo__top {
    @include flex-start;
    gap: 5px;

    p {
      font-weight: bold;
    }
  }

  .travelinfo__bottom {
    margin-top: 10px;

    P {
      &:first-child {
        font-size: 0.7em;
        font-weight: bold;
        color: #b9b9b9;
      }

      &:last-child {
        font-size: 0.9em;
      }
    }
  }
}