#worldcard {
  @include position-center;
  @include flex-center;
  width: 960px;
  min-width: 960px;
  height: 400px;
  padding: 20px;
  border-radius: 6px;
  gap: 20px;
  background-color: #fff;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .left__top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 165px;

      h3 {
        color: #b9b9b9;
        height: 28px;
      }

      h1 {
        font-weight: bold;
      }

      .left__desc {
        font-size: 0.9rem;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
      }  
    }

    .left__mid {
      @include flex-start;
      height: 90px;
      gap: 40px;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .right__top {
      height: 280px;

      img {
        max-height: 280px;
      }
    }

    .right__bottom {
      height: 60px;
      display: flex;
      justify-content: space-around;
    }
  }
}