#header {
  padding: 0 60px;
  @include flex-between;

  .header__img {
    img {
      width: 84px;
      height: 34px;
    }
  }

  nav {
    ul {
      @include flex-center;
      height: 44px;
      gap: 10px;

      li {
        padding: 5px 10px;
        font-size: 0.9rem;
        font-weight: 600;
        &:hover {
          color: aquamarine;
        }
      }
    }
  }
}